<template>
  <div class="p-6 bg-white dark:bg-gray-800 rounded-lg shadow-md">
    <h1 class="text-2xl font-semibold mb-4 text-gray-900 dark:text-white">Import/Export Users</h1>
    <form @submit.prevent="runAction" class="space-y-4">
      <div>
        <label for="actionType" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Action Type</label>
        <select v-model="actionType" id="actionType"
          class="mt-1 block w-full px-3 py-2 bg-white dark:bg-gray-700 border border-gray-300 dark:border-gray-600 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
          <option value="export">Export</option>
          <option value="import">Import</option>
        </select>
      </div>

      <div v-if="actionType === 'import'">
        <label for="file" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Upload File</label>
        <input type="file" id="file" @change="handleFileUpload"
          class="mt-1 block w-full text-sm text-gray-900 dark:text-gray-300 file:mr-4 file:py-2 file:px-4 file:rounded-md file:border-0 file:text-sm file:font-semibold file:bg-indigo-50 file:text-indigo-600 hover:file:bg-indigo-100 dark:file:bg-gray-600 dark:file:text-gray-200" />
      </div>

      <div>
        <label for="field1" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Field 1</label>
        <select v-model="field1" id="field1"
          class="mt-1 block w-full px-3 py-2 bg-white dark:bg-gray-700 border border-gray-300 dark:border-gray-600 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
          <option v-for="(label, value) in fields" :key="value" :value="value">{{ label }}</option>
        </select>
      </div>

      <div>
        <label for="field2" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Field 2</label>
        <select v-model="field2" id="field2"
          class="mt-1 block w-full px-3 py-2 bg-white dark:bg-gray-700 border border-gray-300 dark:border-gray-600 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
          <option v-for="(label, value) in fields" :key="value" :value="value">{{ label }}</option>
        </select>
      </div>

      <div>
        <label for="field3" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Field 3</label>
        <select v-model="field3" id="field3"
          class="mt-1 block w-full px-3 py-2 bg-white dark:bg-gray-700 border border-gray-300 dark:border-gray-600 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
          <option v-for="(label, value) in fields" :key="value" :value="value">{{ label }}</option>
        </select>
      </div>

      <div>
        <label for="field4" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Field 4</label>
        <select v-model="field4" id="field4"
          class="mt-1 block w-full px-3 py-2 bg-white dark:bg-gray-700 border border-gray-300 dark:border-gray-600 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
          <option v-for="(label, value) in fields" :key="value" :value="value">{{ label }}</option>
        </select>
      </div>

      <div v-if="errors.length" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
        role="alert">
        <ul>
          <li v-for="(error, index) in errors" :key="index">{{ error }}</li>
        </ul>
      </div>

      <button type="submit"
        class="w-full px-4 py-2 bg-indigo-600 dark:bg-indigo-500 text-gray-900 dark:text-white font-semibold rounded-md shadow-sm hover:bg-indigo-700 dark:hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-indigo-500 dark:focus:ring-indigo-400">
        Run Action
      </button>
    </form>
  </div>
</template>

<script setup>
import { ref } from 'vue'

const actionType = ref('export')
const file = ref(null)
const field1 = ref('')
const field2 = ref('')
const field3 = ref('')
const field4 = ref('')
const fields = ref({
  name: 'Name',
  email: 'Email',
  created_at: 'Created At',
  email_verified_at: 'Email Verified At',
})

const errors = ref([])

const handleFileUpload = (event) => {
  file.value = event.target.files[0]
}

const runAction = async () => {
  const formData = new FormData()
  formData.append('action_type', actionType.value)
  if (file.value) {
    formData.append('file', file.value)
  }
  formData.append('field1', field1.value)
  formData.append('field2', field2.value)
  formData.append('field3', field3.value)
  formData.append('field4', field4.value)

  try {
    const response = await Nova.request().post('/nova-vendor/import-export-users/run-import-export', formData)

    if (actionType.value === 'export') {
      Nova.visit({ url: `${response.data.download}`, remote: true })
    }

    alert('Action completed successfully')
  } catch (error) {
    console.error('There was an error running the action:', error)

    if (error.response.status === 422) {
      errors.value = Object.values(error.response.data.errors).flat()
    } else {

      alert('An error occurred while running the action')
    }

  }
}
</script>

<style>
/* Scoped Styles */
</style>
